=title '認証メールの再送'
.card
  .card-body
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'needs-validation', novalidate: true }) do |f|
      .field
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),class:'form-control' + error_class(resource, :email), required: true, pattern: "^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$", oninput: "resetValidity(this)"
        - unless error_class(resource, :email).present?
          .invalid-feedback Eメールを正しく入力してください
        = fetch_errors(resource,:email)      
      .actions.text-center.my-3
        = f.submit "認証メール再送", class: 'btn btn-outline-primary'
    = render "devise/shared/links"
- content_for :footer do
  = javascript_include_tag 'form_validation.js'
  